{% extends "search_panel.html" %}
{% load static %}
{% load i18n %}
{% load app_buttons %}
{% load split %}
{% block main %}

<form class="form-group" method="get" action="." style="position:relative;">
    {% if page.object_list %}
    <div class="col-md-9">
        <h3>Apps</h3>
    </div>
    {% list_of_apps_search page.object_list True %}
    <div class="col-md-9">
        <h3>Authors</h3>
        <hr />
        {% for result in page.object_list %}
        {% if result.object.authors.all|length > 0 %}
        <span class="search-head text-muted">{{ result.object }}</span>
        {% endif %}
        <ul>
            {% for author in result.object.authors.all %}
            <li>
                <a href="{% url 'author_page' author.name %}">{{ author.name }} ({{ author.institution }})</a>
            </li>
            {% endfor %}
        </ul>
        {% empty %}
        <p></p>
        {% endfor %}
        <h3>Categories</h3>
        <hr />
        {% for result in page.object_list %}
        <span class="search-head text-muted">{{ result.object }}</span>
        {% for tag in result.object.categories.all %}
        <ul>
            <li>
                <a href="{% url 'tag_page' tag.name %}">{{ tag.name|title }}</a>
            </li>
        </ul>
        {% endfor %}
        {% empty %}
        <p></p>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center"> No Search Results found </h3>
    <p class="text-center"> Your search for
        <strong>
        "{% with request.get_full_path|split:"=" as query_string %}
                {{ query_string|last }}
        {% endwith %}"
        </strong>did not match any content.
    </p>
    {% endif %}
</form>
{% endblock %}
