{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Sameer Shanbhag">
        <link rel="shortcut icon" type="image/ico" href="{% get_static_prefix %}common/img/favicon.ico"/>
        {% block more_head %}{% endblock %}
        <title>IGB App Store {% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}apps/js/jquery.tablednd.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}common/lib/js/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}common/js/msgs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}common/js/setup_ajax_for_csrf.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}common/js/doc_link.js"></script>

        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        @media (min-width: 1200px) {
          .container {
            width: 1000px;
          }
        }
        </style>
    <!-- Custom styles for this template -->
    <link href="{% get_static_prefix %}apps/css/base.css" rel="stylesheet">
    </head>
    <body>
        {# Navigation bar #}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h5 class="my-0 mr-md-auto font-weight-bold"><a href="/" style="color:white; text-decoration:none;"> Integrated Genome Browser Appstore </a></h5>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <!-- Can Add Menu Items Here -->
                    </ul>
                    <form role="search" action="{% url 'haystack_search' %}" method="get">
                            <div class="searchbar">
                                <input class="search_input" type="text" placeholder="Search the App Store" name="q" aria-label="Search" value="{{ search_query }}">
                            </div>
                    </form>
                    {# User menu #}
                    {% if user.is_authenticated %}
                    <div class="btn-group">
                        <a class="text-light user-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                        </a>
                        <div class="dropdown-menu">
                            {% if user.is_staff %}
                            <a class="dropdown-item" href="{% url 'pending-apps' %}">Pending Apps</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'logout' %}?next={{ request.get_full_path|escape }}"> Sign out</a>
                        </div>
                    </div>
                    {% else %}
                        <a class="text-light" href="{% url 'login' %}?next={{ request.get_full_path|escape }}">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {# Content Area for Base Template | all the extended code will visible here  #}
        <div class="container" style="margin-top: 10px; margin-bottom: 5%;">
            <div class="row">
                <div class="col-md-12 block" id="alerts">
                    {% if error_msg %}
                    <div class="alert alert-danger">
                        {% autoescape off %}{{ error_msg }}{% endautoescape %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Example row of columns -->
                {# Content #}
            {% block content %}{% endblock %}
        </div> <!-- /container -->
        {# Footer #}
         <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12 col-md">
                        <a class="text-muted custom-link" href="{% url 'about' %}">About</a> &bull;
                        <a class="text-muted custom-link" href="{% url 'contact' %}">Get Help</a> &bull;
                        <a class="text-muted custom-link" href="{% url 'wall_of_apps' %}">Wall of Apps</a>
                    </div>
                </div>
            </div>
          </footer>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% get_static_prefix %}common/js/msgs.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}apps/js/star_rating.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js"></script>

        {# Support for "Go back to..." links at the top #}
        <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
            // Show Information about Application Deleted
            $(document).ready(function() {
                if (window.location.hash === "#app-delete") {
                    Msgs.add_msg("The Application was deleted !", "info");
                }
            });
            $(window).on('pageshow', function() {
            {% if go_back_to %}
                Cookies.set('go_back_to_title', '{{ go_back_to }}',  {'path': '/'});
                Cookies.set('go_back_to_url',   '{{ request.get_full_path }}', {'path': '/'});
            {% endif %}
            });
        </script>
    </body>
</html>