{% extends "base.html" %}

{% block title %} - About{% endblock %}
{% block content %}
		<div class="row">
			<div class="col-md-12">
				<h2>About Integrated Genome Browser App Store</h2>
				<hr />
				<blockquote style="margin-left: 3em; margin-top: 2em; margin-bottom: 2em;">
						<p class="text-justify">Integrated Genome Browser (IGB) is a fast, flexible, and free desktop genome browser implemented in the Java programming language.
							IGB has hundreds of features, notably super-fast zooming and beautiful, highly interactive graphics.
						</p>
						<p class="text-justify">
							IGB is also a platform for developers to experiment with new ways of visualizing genomic data. By developed IGB Apps, developers can create new features for IGB without needing to
							change the IGB code itself. Inspired by the Cytoscape project, we developed this IGB App Store for developers to distribute new IGB Apps and to help users find and install them.</a>!
						</p>
				</blockquote>
				<hr />
			</div>
		<div class="col-md-12">
			<h2>How to cite IGB</h2>
			<blockquote style="margin-left: 3em; margin-top: 2em;">
				Was Integrated Genome Browser helpful? If yes, please cite us:
				<a href="https://www.ncbi.nlm.nih.gov/pubmed/27153568" target="_blank" style="font-weight: bold;">Integrated genome browser: visual analytics platform for genomics</a>
				<br>
				by Nowlan H. Freese, David C. Norris, and Ann E. Loraine<br>
				Bioinformatics. Jul 15;32(14):2089-95.</a>
			</blockquote>
		</div>
		</div>
{% endblock %}
