{% extends "base.html" %}
{% load static %}

{% block title %} - Get Help{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1 class="font-weight-bold ml-3">Get Help</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="ml-5 mt-4">
        <p>
            For questions about developing IGB Apps, post to <a target="_blank"
                                                                href="https://groups.google.com/forum/#!forum/igb-app-developers">IGB
            App Developers Group</a>.
            <br>
            For questions about using Integrated Genome Browser, post to the
            <a target="_blank"
               href=" https://groups.google.com/forum/#!forum/integrated-genome-browser-help-desk">IGB
                Help Desk</a>.
        </p>
    </div>
    <hr class="mt-5">
{% endblock %}
